
<!DOCTYPE html >
<html ng-app="hub">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>fybr.hub</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" type="image/png" href="" />

	<!-- Vendor -->
	<link rel="stylesheet" href="css/vendor/normalize.css" />
	<link rel="stylesheet" href="css/vendor/cloak.css" />

	<!-- Common -->
	<link rel="stylesheet" href="css/common/helpers.css" />

	<!-- Hub -->
	<link rel="stylesheet" href="css/hub/layout.css" />
	<link rel="stylesheet" href="css/hub/login.css" />
	<link rel="stylesheet" href="css/hub/sms.css" />
	<link rel="stylesheet" href="css/hub/notifications.css" />


</head>
<body class="ng-cloak" ng-controller="root">
	<div ng-if="!api.session" ng-include="'view/login.html'"></div>
	<div ng-if="api.session">
		<header>
			<div class="logo"></div>
			<nav>
				<ul>
					<li class="active">
						<span>Hub</span>	
					</li>
					<li >
						<span>Settings</span>	
					</li>
				</ul>
			</nav>
			<div ng-include="'view/battery.html'" class="battery-page"></div>
		</header>	
		<div class="root" ng-cloak >
			<div class="notif-page" ng-include="'view/notifications.html'"></div>
			<div class="sms-page" ng-include="'view/sms.html'"></div>
		</div>
	</div>


	<!-- Libraries -->
	<script src="js/vendor/moment.js"></script>
	<script src="js/vendor/angular.min.js"></script>
	<script src="js/vendor/angular-animate.min.js"></script>
	<script src="js/vendor/angular-cookies.min.js"></script>
	<script src="js/vendor/angular-moment.js"></script>
	<script src="js/vendor/angular-sanitize.min.js"></script>
	<script src="js/vendor/lodash.js"></script>
	<script src="js/vendor/reconnecting-websocket.js"></script>

	<!-- Hub -->
	<script src="js/hub/emoji.js" ></script>
	<script src="js/hub/module.js" ></script>
	<script src="js/hub/services.js" ></script>
	<script src="js/hub/controllers.js"></script>
	<script src="js/hub/directives.js"></script>
</body>
</html>
