ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

textarea, input { outline: none; }


@-webkit-keyframes reset {
	to {
		-webkit-transform : translate3d(0px,0px,0px) scale(1,1);
		opacity: 1;	
		height: auto;
		top:0px;
		left: 0px;
	}
}
@keyframes reset {
	to {
		transform : translate3d(0px,0px,0px) scale(1,1);
		opacity: 1;
		height: auto;
		top:0px;
		left: 0px;

	}
}

.reset-animation {
}